<foooter class="ba-footer">
    <div class="row">
        <div class="column large-3">
            <a href="#" class="ba-footer__logo">
                <p>Family</p>
                <p>Farms</p>
            </a>
        </div>
        <div class="collumn large-3">
            <div class="ba-footer__middle">
                <h4>Address</h4>
                <p class="ba-footer__address">
                    Florida, Jacksonville,
                    1324 Boundary Street
                </p>
            </div>
        </div>
        <div class="column large-4 large-offset-2">
            <button class="ba-button ba-button--red ba-footer__button">
                contact now
            </button>
        </div>
    </div>
    <div class="ba-footer__background--left"></div>
    <div class="ba-footer__background--right"></div>
</foooter>