<header class="ba-header">
    <div class="ba-header__row">
        <div class="ba-header--left">
            <button class="menu-icon dark" type="button" data-open="offCanvas"></button>

        </div>
        <div class="ba-header--right">
            <button class="ba-search">
                    <svg width="16px" height="16px">
                            <use xlink:href="#search" />
                        </svg>
            </button>
        </div>
        <a href="#" class="ba-header__logo"></a>
    </div>
</header>
